
/*
 *   DESU Styles
 */


/*
*   General styles
*/

body{
	font-family: 'Open Sans', Arial;
	font-weight: 300;
	font-size: 1em;
	color: #555555;
	margin: 0px;
}

h2{
	color: #959595;
	font-weight: bold;
	font-size: 1.3em;
}

h3{
	font-weight: bold;
	font-size: 1.1em;
}

p.text-blue{
	color:#0096d7;
}

#page{
	min-height: 100%;
	width: 100%;
	position: relative;
}

#breadcrumb, #page-title, a.feed-icon, .front #block-system-main, #first-time{
	display: none;
}

#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#content {
  width: 100%;
}

body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}

#sidebar-first {
  width: 20%;
  left: -80%; /* LTR */
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}



/* Header */


#header{
	background-color: #ececec;
	height: 135px;
	width:100%;
	position: relative;
}

/*
#header{
	background-color: #ececec;
	height: 135px;
	width:1155px;
	margin:auto;
	position: relative;
}
*/

a#logo img{
	position: absolute;	
	display: inline-block;
	z-index: 100;
}

#top_social{
	width: 100%;
}

#social_icons{
	position: absolute;
	right: 20px;
	top: 10px;
}

/* Main Menu */

#block-system-main-menu{
	position: absolute;
	top: 50px;
	background-color: #0096d7;
	width: 100%;
	height: 40px;
	z-index: 0;
}

#block-system-main-menu .content{
	float: left;
	height: 40px;
	margin-left: 290px;
}

#block-system-main-menu ul.menu{
	float: left;
	height: 40px;
	margin:0px;	
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
}

#block-system-main-menu ul.menu li{
	display: inline;
	float: left;
	height: 40px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: #0096d7;
}

#block-system-main-menu ul.menu li a{
	display: inline;
	float: left;
	height: 40px;
	font-family: 'PT Serif';
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	margin-top: 10px;
}

#block-system-main-menu ul.menu li.active-trail{
	background-color: #0058b5;
}

/* Content */

body.front{
	background: url("images/bg_01.jpg");
	background-repeat: repeat-x;
}


#main{
	width: 1155px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

body.sidebar-second #content {
  width: 824px;
}

#block-block-7{
	margin-top: 120px;
}

#block-block-4{
	width: 1160px;
	overflow: hidden;
	position: relative;
}

#together{
	width: 824px;
}

#front_p1{
	margin-top: 50px;
	text-align: left;
}

#front_p2{
	color: #8bd7f8;
	text-align: left;
}

div.hundred_percent{
	color: #8bd7f8;
	float: left;
	font-weight: bold;
	font-size: 2em;
	margin-right: 10px;
}

#bg1{
	position: absolute;
	top: 132px;
	left: 0px;
	width: 100%;
	height: 293px;
	background-color: #ececec;
	z-index: -1;
}

#bg2{
	position: absolute;
	top: 425px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: #d7d7d7;
	z-index: -1;
}


/* Sidebar */

#sidebar-second {
  float: right; /* LTR */
  width: 308px;
}

.section {
  margin: 0px;
}

#block-block-6 p{
	margin: 0px;
}

#greater{
	float: right;
	width: 310px;
	margin-left: 20px;
	text-align: center;
	font-family: Times;
}

#greater h2{
	color: #8a1719;
	font-weight: bold;
	font-size: 1.2em;
}

#greater table{
	border: none;
	width: 310px;
}

#greater table tr td{
	font-size: 0.75em;
	font-weight: bold;
	color: #004f74;
}

#greater tbody{
	border: none;
}

/* Steering Committee */

body.front #main-wrapper{
	background: url("images/bg_11.jpg");
	background-repeat: repeat-x;
	background-position: bottom;
}

#block-block-2{
	margin-top:120px;
	margin-bottom: 20px;
	overflow: auto;
}

#steering{
}

#committee{
	display: block;
}

#steering h2{
	color: #959595;
	font-size: 1.1em;
	
}

div.com_member{
	float: left;
	width: 220px;
	height: 60px;
	font-size: 0.7em;
	color: #555555;
}

.com_name{
	color: #0096d7;
}


/* Footer */
#main-wrapper{
	padding-bottom: 40px;
}

#footer{
	width: 100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
}

#DSU_footer{
	background-color: #0096d7;
	color: #ffffff;
	width: 100%;
	height: 40px;
}

#DSU{
	float: left;
	width: 200px;
	padding: 10px;
	font-weight: bold;
	font-size: 1em;
}

#copyright{
	float: right;
	width: 500px;
	text-align: right;
	padding: 10px;
	margin-right: 20px;
	font-size: 0.7em;
}

/* Subpage Styles */

body.page-node-2, body.page-node-3, body.page-node-4, body.page-node-5, body.page-node-8{
	background: url("images/bgsolid_01.jpg");
	background-repeat: repeat-x;
}

body.page-node-1{
	background: url("images/bgsolid_node1.jpg");
	background-repeat: repeat-x;
}

body.page-node-4{
    background-size: 1px 600px;
}

body.page-node-5{
    background-size: 1px 380px;
}


/* About Styles */

#every-donation{
	background-color: #8bd7f8;
	width: 764px;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}

#every-donation h2{
	color: #ffffff;
}

#every-donation ul{
	padding:0px 0px 0px 20px;
}
#every-donation ul li{padding-bottom:3px;}


#graduation-rates{
	overflow: auto;	
}

#graduation-rates-box{
	float: left;	
}

#graduation-rates-box table{
	background-color: #ed1b2e;
	color: #ffffff;
	margin: 0px 20px 0px 0px;
}

#graduation-rates-box h2{
	color: #ffffff;
	margin:0px;
	padding:0px;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
}

#graduation-rates-box p{
	margin-top:0px;
}

#graduation-rates-box tbody{
	border-top: none;
}

#graduation-rates-box td{
	text-align: center;
	padding: 10px;
}

#graduation-rates-text{
	padding-top:10px;

}

#graduation-rates-box td p{
	-webkit-margin-before: 0px;
}


/* Ways to Give */

#join-the-swarm{
	background: url("images/swarm_11.jpg");
	height: 524px;
	width: 824px;
	margin-top: 100px;
}

#i-joined-the-swarm{
	background-color: #8bd7f8;
	width: 824px;
	height: 222px;
	color: #ffffff;
	margin-top: -20px;
}

#i-joined-the-swarm img{
	float: right;
	margin: -20px 20px 0px 60px;
}


#i-joined-the-swarm p{
	padding: 15px;
}

#ways-to-join{
	margin-top: 60px;
}

#ways-to-join-table tbody{
	border-top: none;
}

/* Impact Styles  */

#impact-of-giving{
	margin-bottom: 80px;
}

#allocation-of-funds p{
	-webkit-margin-after: 0px;
	-webkit-margin-before: 2em;
}

#allocation-of-funds ul{
	margin:0px;
	padding-left: 20px;
	-webkit-margin-before: 0px;
}

#allocation-of-funds ul li ul{
	padding-left: 45px;
	list-style-type: disc;
}


#success-stories{
	background-color: #8bd7f8;
	width: 764px;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
	margin-bottom: 80px;
	margin-top: 40px;
}

#success-stories a, #success-stories h2{
	color: #ffffff;
}

/* Donors Style */

#donor-recognition{
	margin-bottom: 60px;
}

#herbert-milan, #kevin-wright{
	margin-top: 30px;
}

#herbert-milan, #kevin-wright, #herbert-milan h2{
	color: #0096d7;
}

#kevin-wright h3, #herbert-milan h3{
	-webkit-margin-after: 0px;
}

#kevin-wright h3, #herbert-milan p{
	-webkit-margin-before: 0px;
}


#herbert-milan img{
	margin: 20px 0px 30px 30px;
}

#kevin-wright img{
	margin: 20px 30px 30px 0px;
}

#people-who-have-joined{
	background-color: #0096d7;
	width: 764px;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	height: 300px;
    overflow: scroll;
}

#people-who-have-joined h2{
	color: #ffffff;
}

/* Contact Styles */

#contact-us{
	margin-bottom: 60px;
}

#office-of-development{
	margin-top: 30px;
	margin-bottom: 30px;
}

#office-of-development h2, #office-of-development em{
	color:#0096d7;

}

#office-of-development a{
	color: #ed1b2e;
	text-decoration: none;
}

/* Success Stories */
#success-stories-page{
	margin-bottom: 80px;
}

div.success{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 824px;
	overflow: auto;
}

div.success img{
	margin: 20px 30px 30px 0px;
}

div.success img.right{
	margin: 20px 0px 30px 30px;
}

/* Events and Campaigns Views Blocks */


#block-views-events-block, #block-views-campaign-news-block{
	background-color: #e3f6fd;
	padding: 10px 10px 10px 10px;
	margin-top: 30px;
	font-size: 0.8em;
}

#block-views-events-block a, #block-views-campaign-news-block a{
	color: #0096d7;
	text-decoration: none;
}


#block-views-events-block li, #block-views-campaign-news-block li{
	list-style-type: none;
	margin: 0px;
}

#block-views-campaign-news-block ul, #block-views-campaign-news-block li,  #block-views-campaign-news-block div,  #block-views-campaign-news-block a,  #block-views-campaign-news-block p,
#block-views-events-block ul, #block-views-events-block li,  #block-views-events-block div,  #block-views-events-block a,  #block-views-events-block p
{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

#block-views-events-block .views-field-field-link-1, #block-views-campaign-news-block .views-field-field-link-1{
	text-align: right;
	margin-bottom: 10px;
}

#block-views-events-block{
	margin-bottom: 30px;
}

